<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>About Me</title>
</head>

<body>
    <div class="container">
        <nav class="nav justify-content-center">
            <a href="/" class="nav-link active text-sm-center">Home </a> 
            <a href="/projects" class="nav-link active text-sm-center">Projects</a>
            <a href="/contact" class="nav-link active text-sm-center">Contact</a>
        </nav>
        <h1 class="text-center pt-3">About Me</h1>
        <hr>
        <div class="row">
            <div class="col-sm-6">
            <img src="~/images/CalmMe.jpg" alt="My Best Foot Forward" class="img-responsive w-75">
                <p class="text-left font-italic">This is a picture of me!</p>
            </div>
            <div class="col-sm-6">
                <h4>Ra'mar K. Leach</h4>
                <p>Age: 31</p>
                <p>Location: Chicago, IL</p>
                <p>Summary: Will update this information at a later time.</p>
            </div>
        </div>
    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="~/javascript/script.js"></script>   
</body>

</html>