<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Projects</title>
</head>

<body>
    <div class="container">
        <nav class="nav justify-content-center">
            <a href="/" class="nav-link active text-sm-center">Home </a>
            <a href="/projects" class="nav-link active text-sm-center">Projects</a>
            <a href="/contact" class="nav-link active text-sm-center">Contact</a>
        </nav>
        <h1 class="text-center">Here Are Some of My Projects!</h1>
        <hr>
        <div class="card-deck">
            <div class="card p-2">
                <img class="card-img-top w-50 mx-auto" src="~/images/HTML5.png" alt="HTML5">
                <div class="card-body mt-3">
                    <h4 class="card-title">My HTML Project</h4>
                    <p class="card-text">A simple webpage I made while in my bootcamp. This is a recreation of a wireframe webpage. There is little to no functionality.
                    </p>

                    <a class="card-link" href="#">Click Here</a>
                </div>
            </div>
            <div class="card p-2">
                <img class="card-img-top w-50 mx-auto" src="~/images/Python.png" alt="Python">
                <div class="card-body mt-3">
                    <h4 class="card-title">My Python Project</h4>
                    <p class="card-text">Project made using Python as my language and Django as my web framework.</p>
                    <a class="card-link align-self-end" href="#">Click Here</a>
                </div>
            </div>
            <div class="card p-2">
                <img class="card-img-top w-50 mx-auto" src="~/images/CSharp.png" alt="C#" s>
                <div class="card-body mt-1">
                    <h4 class="card-title">My C# Project</h4>
                    <p class="card-text">A project made using C# as my backend language, Bootstrap as my styling
                        framework,
                        and Razor as my web framework.</p>
                    <a class="card-link align-self-end" href="#">Click Here</a>
                </div>
            </div>
            <div class="card p-2">
                <img class="card-img-top mt-2 w-75 mx-auto" src="~/images/MERN.jpg" alt="MERN">
                <div class="card-body mt-4">
                    <h4 class="card-title">My MERN Project</h4>
                    <p class="card-text">A project made using React as my front end web client, and Node.js
                        (JavaScript) as my backend language.</p>
                    <a class="card-link align-self-end" href="#">Click Here</a>
                </div>
            </div>
        </div>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
        <script src="~/javascript/script.js"></script>  
</body>

</html>