@{
    ViewData["Title"] = "Home Page";
}

@model string
<div class="text-center">
    <h1 class="display-4">Welcome to View Model Fun</h1>
    <h4 class="display-6">Here is a message to get you started!</h4>
    <hr>
    <div class="text-center border rounded-lg">@Model</div>
</div>
