@{
    ViewData["Title"] = "One User Page";
}

@model User
<div class="text-center">
    <h1>Here we have One User!</h1>
    <hr>
    <div class="border rounded-circle w-25 mt-3">
        <p>@Model.FirstName @Model.LastName</p>
    </div>
</div>