<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>DojoSurvey</title>
</head>

<body>
    <h1 class="text-center">Hello There! Welcome to Dojo Survey!</h1>
    <hr>
    <div class="container rounded-lg col-6 bg-dark text-white py-3 my-3">
        <h3>Please fill out the information below.</h3>
        @model Survey
        <form asp-action="Create" method="POST">
            <div class="form-group mt-3">
                <label asp-for="Name"></label>
                <input type="text" name="Name" class="form-control">
                <span asp-validation-for="Name" class="text-info"></span><br>
                <label asp-for="Location"></label>
                <select name="Location" class="form-control">
                    <option value="">Select:</option>
                    <option value="San Jose">San Jose</option>
                    <option value="Dallas">Dallas</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Seattle">Seattle</option>
                </select>
                <span asp-validation-for="Location" class="text-info"></span><br>
                <label asp-for="Language"></label>
                <select name="Language" class="form-control">
                    <option value="">Select:</option>
                    <option value="C#">C#</option>
                    <option value="Python">Python</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="Java">Java</option>
                </select>
                <span asp-validation-for="Language" class="text-info"></span><br>
                <label asp-for="Comment"></label>
                <textarea name="Comment" class="form-control" cols="10" rows="3"></textarea>
                <span asp-validation-for="Comment" class="text-info"></span><br>
                <br>
                <input type="submit" value="Submit" class="btn btn-primary shadow btn-outline-success">
            </div>
        </form>
    </div>
</body>

</html>