<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Show User</title>
</head>

<body>
    <div class="container rounded-lg col-6 bg-dark text-white py-3 my-3 shadow-lg">
        <h3>Submitted Info</h3>
        <p>Name: @ViewBag.Name</p>
        <p>Dojo Location: @ViewBag.Location</p>
        <p>Favorite Coding Language: @ViewBag.Language</p>
        <p>Comments: @ViewBag.Comment</p>
        <a href="/" class="btn btn-primary btn-outline-success shadow">Go Back</a>
    </div>
</body>

</html>